<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <title>A7 Page</title>
    <link rel="stylesheet" href="{% static "css/mystyle.css" %}"/>
  </head>
  <body>
    <h1>Audi A7</h1>
    <img src="{% static "images/rs7.jpg" %}" alt="Audi A7 not showing">
  </body>
</html>
